html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e8e7e2;
   
    background-image: url('../images/beatriz-perez-moya-xn4t2pvuugk-unsplash.jpg');
    height: 100%;
    Center and scale the image nicely background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media print {
    .no-print {
        display: none;
    }
}
